@font-face {
	src: url('../assets/fonts/Sonora-Bold.woff2') format('woff2');
	font-family: 'Sonora';
	font-weight: bold;
}

@font-face {
	src: url('../assets/fonts/Sonora-Regular.woff2') format('woff2');
	font-family: 'Sonora';
	font-weight: normal;
}
