@font-face {
	src: url('../assets/fonts/ApfelGrotezk-Regular.woff2') format('woff2');
	font-family: "Apfel Grotezk";
	font-weight: normal;
	font-display: block;
}

@font-face {
	src: url('../assets/fonts/Reckless-LightItalic.woff2') format('woff2');
	font-family: Reckless;
	font-weight: 300;
	font-style: italic;
	font-display: block;
}

@font-face {
	src: url('../assets/fonts/Reckless-RegularItalic.woff2') format('woff2');
	font-family: Reckless;
	font-weight: normal;
	font-style: italic;
	font-display: block;
}
