//colors
$black: #000;
$white: #FEFDF0;
$purple: #715DB7;
$gold: #B48223;
$blue: #9EE0D3;
$pink: #FB81B4;

// delete
$gray: gray;

// venues
$colors: (
  'purple': $purple,
  'gold': $gold,
  'blue': $blue,
  'pink': $pink
);

$venues: (
  'guardamar': $purple,
  'geldo': $gold,
  'castello': $blue,
  'alacant': $pink,
);

$primary: $blue;
$secondary: $pink;

$body-bg: $white;
$body-color: $black;

// fonts
$font-family-sans-serif: "Apfel Grotezk", sans-serif;
$font-family-serif: Reckless, serif;

// text sizes
$text-base: 1.25rem;
$text-xs: .875rem;
$text-sm: 1.1rem;
$text-md: 1.5rem;
$text-lg: 1.65rem;
$text-lgr: 1.875rem;
$text-xl: clamp(1.75rem, 1.5vw, 2.15rem);
$text-2xl: 3rem;
$text-headline: clamp(3rem, 5vw, 5.5rem);

// navbar and footer
$navbar-safe-area: 4.3rem;
$mobile-nav: 3.25rem;
$footer-height: 6.875rem;
$viewport-x-padding: 2rem;
$viewport-y-padding: .8rem;
$mobile-padding: 1.15rem;

// links
$link-color: $black;

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
