//colors
$red: #F24957;
$purple: #5B38A6;
$blue: #99D9F2;
$brown: #88735E;
$orange: #F27405;
$black: #231B28;
$white: #FDFBFA;

$primary: $red;
$secondary: $purple;
$terciary: $blue;
$quaternary: $brown;

$background: $white;
$foreground: $white;
$text: $black;

$font-family-sans-serif: Inter, sans-serif;
$font-headings: 'GT Flexa VAR', sans-serif;
$font-headings-thin: "wght" 200, "wdth" 100, "ital" 0;
$font-headings-light: "wght" 300, "wdth" 100, "ital" 0;
$font-headings-regular: "wght" 400, "wdth" 100, "ital" 0;
$font-headings-light-extended: "wght" 300, "wdth" 120, "ital" 0;
$body-bg: $background;
$body-color: $text;

$text-base: 1.25rem;
$text-sm: 1rem;
$text-lg: 2rem;
$text-xl: 3rem;

// navbar
$navbar-safe-area: 4rem;

@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/_mixins';
