@import 'variables';
@import 'fonts';
@import 'bootstrap/scss/bootstrap';

// body
html {
  scroll-padding-top: $mobile-nav;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: $text-sm;
  font-weight: 350;

  &.nav-shown {
    overflow: hidden;
  }
}

// nav
.nav-shown {
  overflow: hidden;
}

// button
.sonora-button {
  display: inline-block;
  appearance: none;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px $black solid;
  text-decoration: none;
  padding: 1rem 2.75rem;
  border-radius: 100%;
  font-weight: normal;
  color: $black;

  span {
    position: relative;
    top: .115em;
  }

  &:hover {
    background-color: $black;
    color: $body-bg;
  }

  @each $venue, $color in $venue-colors {
    &-#{$venue}:hover {
      color: $color;
    }
  }
}

@include media-breakpoint-down(md) {
  .sonora-button {
    border-width: 1px;
  }
}

// transitions
.slide-enter-active,
.slide-leave-active {
  transition: all .4s;
  max-height: 800px;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  max-height: 0;
  overflow: hidden;
}

.moveable-control-box {
  display: none !important;
}