@import "variables";
@import "fonts";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";


// body
:root {
  --navbar-safe-area: #{$navbar-safe-area};
}

html {
  scroll-padding-top: $mobile-nav;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: $text-sm;
  font-weight: 400;

  &.nav-shown {
    overflow: hidden;
  }
}

// nav
.nav-shown {
  overflow: hidden;
}

// typography
.reckless {
  font-family: $font-family-serif;
  font-style: italic;
  font-feature-settings: "ss01", "ss04", "ss11", "liga" 0, "dlig" 0;
  letter-spacing: -0.045rem;
}

// button
.sonora-button {
  display: inline-block;
  appearance: none;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px $black solid;
  text-decoration: none;
  padding: .5em 2em;
  border-radius: 4rem;
  font-weight: normal;
  color: $black;
  line-height: 1;

  &:hover {
    background-color: $white;
  }

  &:focus-visible {
    outline: 3px $blue solid;
  }

  @include media-breakpoint-down(lg) {
    padding: .6em 1.75em;
  }
}

@each $venue, $color in $venues {
  .venue-#{$venue} {
    --venue-color: #{$color};
  }
}

@include media-breakpoint-down(lg) {
  .section-title {
    text-transform: uppercase;
    font-size: $text-md;
    margin-bottom: 2.75rem;
    padding: 0 $mobile-padding;
  }
}

@include media-breakpoint-up(lg) {
  .section-title {
    display: block;
    height: 0;
    overflow: hidden;
    position: absolute;
  }
}

// transitions
.slide-enter-active,
.slide-leave-active {
  transition: all .4s;
  max-height: 800px;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  max-height: 0;
  overflow: hidden;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity .25s;
}

.page-enter,
.page-leave-to,
.layout-enter,
.layout-leave-to {
  opacity: 0;
}

@include media-breakpoint-up(md) {
  .layout-enter-active,
  .layout-leave-active {
    transition: opacity .25s;
  }

  .layout-enter,
  .layout-leave-to {
    opacity: 0.9;
  }

  .layout-enter-active :is(.page-content, .sonora-footer, .menu),
  .layout-leave-active :is(.page-content, .sonora-footer, .menu) {
    transition: opacity .25s;
  }

  .layout-enter :is(.page-content, .sonora-footer, .menu),
  .layout-leave-to :is(.page-content, .sonora-footer, .menu) {
    opacity: 0;
  }
}