@import 'variables';
@import 'fonts';
@import 'bootstrap/scss/bootstrap';

//body
body {
  background-color: $black;
  font-size: $text-sm;

  &.nav-shown {
    overflow: hidden;
  }
}

//links
a {
  transition: .2s ease-in-out;
}

h1 {
    line-height: .95;
    font-size: $text-headline;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
  font-size: $text-xl;
  font-weight: bold;
}

body,
.navbar {
  transition: .4s ease-in-out;
  overflow-x: hidden;
}

// container
.main-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: calc(1.5rem + 3vh) calc(1rem + 3vw);
  padding-bottom: 5rem;
}

.safe-area {
  padding-top: $navbar-safe-area;
}

/* transition*
.page-enter-active,
.page-leave-active {
  transition: opacity .25s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
*/
// Moveable
.moveable-line {
  background: transparent !important;
}

// Venue stickers
.venue-sticker {
  #Colorful {
    opacity: 0;
  }
}

.venue-sticker:hover {
  #Colorful {
    opacity: 1;
  }

  #Outline {
    opacity: 0;
  }
}

@include media-breakpoint-down(md) {
  .main-container {
    padding: 1.25rem;
  }

  .nav-shown {
    overflow: hidden;
  }
}
